@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #19151C;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 999;
    transition: all 0.5s;
    padding: 20px 0;
    background-color: #19151C
  
  
}
  
  
#header.header-scrolled,
#header.header-pages {
    height: 70px;
    padding: 10px 0;
}
  
#hero-apresentation {
    background-color: red;
    height: 100vh;
}
  
#header .logo h1 a,
#header .logo h1 a:hover {
    color: #ff11b850;
    text-decoration: none;
}
  
#header .logo img {
    padding: 0;
    margin-bottom: 1rem;
    max-height: 54px;
}
  
.main-pages {
    margin-top: 60px;
}
  
.nav-menus {
    display: flex;
    justify-content: space-around;
  
}

/*--------------------------------------------------------------
Menu de navegação - HEADER
--------------------------------------------------------------*/
.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
  color: #833ba5;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #350404;
  box-shadow: 0px 0px 30px rgba(13, 38, 95, 0.25);
  transition: ease all 0.3s;
}


.main-nav .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  
}

.main-nav .drop-down>a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down>a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down>a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}


/*--------------------------------------------------------------
 INTRODUÇAO
--------------------------------------------------------------*/

#intro {
  margin-top: 54px;
  background-color: #19151C;
}

.shadow img{
  position: fixed;
  top: 0;
  z-index: 1;
 
}
.intro-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.intro-img img{
  width: 100%;
}

.main-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.main-text h1 {
  text-align: center;
  color: #F1FAEE;
  font-size: 28px;
  font-family: poppins;

}

.roller {
  height: 2.15rem;
  line-height: 3.5rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.roller #rolltext {
  margin-top: 8px;
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
  color: #833ba5;
  font-family: poppins;
  font-size: 28px;
  text-align: center;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4rem;
  }

  50% {
    top: -8rem;
  }

  80.5% {
    top: -18.25rem;
  }
}

.intro-paragrafo p{
  font-family: poppins;
  color: #ffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

/* BTNS*/
.intro_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #894B94;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}




.cta:hover:before {
  width: 100%;
  background: #894B94;
}



.cta:active {
  transform: scale(0.95);
}


.services-btn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 8px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
  width: 120px;
  font-family: poppins;
}

.services-btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.services-btn:active {
  transform: scale(0.9);
}

/*--------------------------------------------------------------
 ABOUT - SECTION SOBRE 
----------------------------------------------------------------*/
#about{
  margin-top: 1rem;
  background-color: #19151C;
}
.about-text {
  color: #ffff;
  font-family: poppins;
  text-align: center;
}

.about-text h2{
  font-size: 24px;
}

.about-text p{
  font-size: 12px;
  font-weight: 400;
}

/* Cards */

.about_cards_section{
  display: flex;
  justify-content: center;
}

.about_card {
  margin-top: 1rem;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23172B;
  width: 350px;
  padding: 20px;
  color: #ffffff;
  border-radius: 8px;
}

.about_card h3{
  margin-top: 1rem;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  font-family: inter;
}

.about_card p{
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  font-weight: 300;
}

.about_card a{
  text-decoration: underline;
  color: #dc7fec;
}


/*--------------------------------------------------------------
 CLIENTES - SEÇÃO DOS CLIENTES
 ----------------------------------------------------------------*/
.img-fluid{
  z-index: 99;
}

#clientes {
  z-index: 99;
}
.clientes_header{
  margin-top: 2rem;
  color: #ffffff;
  text-align: center;
}

.clientes_header h3{
  font-family: inter;
  font-size: 26px;
}

.clientes_logos {
  margin-top: 1.5rem;
}
.clientes_header p{
  font-family: poppins;
  font-size: 14px;
  font-weight: 300;
}

.clients-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}

#clients .client-logo {
  padding: 64px;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;;
  height: 160px;
  cursor: pointer;
 
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}



/*--------------------------------------------------------------
 PROJETOS - SEÇÃO DOS PROJETOS
----------------------------------------------------------------*/


.projetos_header{
  text-align: center;
  color: #ffffff;
  font-family: poppins;
}
.projetos_card_list{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projeto_desc{
  display: flex;
  justify-content: center;
}

.projetos_card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.projeto_desc_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #19151C;
  border-radius: 8px;
  padding: 10px;
  z-index: 80;
  margin-bottom: 3px;
}

.projeto_desc_text h5{
  font-size: 14px;
  color: #ffff;
  font-family: poppins;
  font-weight: 300;
}

.link_projeto a, i {
  color: #dc7fec;
}

.link_projeto{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.link_projeto i{
  margin-top: 4px;
}